<h1>New Game</h1>
<%= form_for @game do |f| %>
  <p><%= f.label :date %></p>
  <p><%= f.date_field :date %></p>
  <p><%= f.label :time %></p>
  <p><%= f.text_field :time%></p>
  <p><%= f.label :court %></p>
  <p><%= f.collection_select(:court_id, Court.sort_alphabetically, :id, :name, {}, {class: "form-control", id: "court-select", size: 15}) %></p>
  <p><%= f.submit %></p>
<% end %>